{% extends 'base.jinja' %}

{% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>好味道众筹</title>
    <link rel="stylesheet" href="{{ 'css/base.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/module.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/animate.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/slider.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/create.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/cmxform.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/static_page.css'|static }}">
    <script src="/static/js/lib/require.js"></script><style type="text/css"></style>
    <script>
        require(['/static/js/common.js'], function (common) {
            require(['app/create']);
        })
    </script>
{% endblock %}

{% block content %}

    <div class="wrap pt-40 bg-grey">
    <div class="wrap-inner auto">
        <div class="main pt-40">
            <div class="sign-panel bg-white">
                <div class="static-panel-wrap">
                    <div class="sign-panel-header">
                        <ul class="medium js-sign-header clear center">
                            <li class="sign-panel-title left"><h3><a
                                    href="{{ url('page.agreement') }}" class="block white">用户协议</a>
                            </h3></li>
                            <li class="sign-panel-title left"><h3><a
                                    href="{{ url('page.disclaimer') }}" class="block white">免责声明</a>
                            </h3></li>
                            <li class="static-pannel-active sign-panel-title left"><h3><a
                                    href="{{ url('page.copyright') }}" class="block white">隐私版权声明</a>
                            </h3></li>
                            <li class="sign-panel-title left"><h3><a
                                    href="{{ url('page.contact') }}" class="block white">联系我们</a>
                            </h3></li>
                            <li class="sign-panel-title left"><h3><a
                                    href="{{ url('page.feedback') }}" class="block white">建议反馈</a>
                            </h3></li>
                        </ul>
                    </div>

                    <div >
                        <div class="pageposition">
                            <div class="staticfont">
                                声明更新时间：2013年5月1日
                                </br>
                                <h2><center>好味道众筹网隐私权政策</center></h2>
                                </br>
                                <strong><h4>一、隐私权声明</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网注重对保护您的个人隐私的保护。有时候我们需要某些信息才能为您提供您请求的服务，本隐私权声明解释了这些情况下的数据收集和使用情况。在同意好味道众筹网服务协议之时，您已经同意我们按照本隐私声明来使用和披露您的个人信息，本隐私声明的全部条款属于该协议的一部份。
                                </p>


                                </br><strong><h4>二、您个人信息的搜集</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;当我们需要能识别您身份的信息（个人信息）或者可以与您联系的信息时，我们会征求您的同意。通常，在您注册好味道众筹网在线服务时，我们会请求您提供这些信息。好味道众筹网搜集的信息通常仅限于您的真实姓名、性别、年龄、出生日期、身份证号、家庭住址、教育程度、公司情况、所属行业、兴趣爱好等。
                                </p>


                                </br><strong><h4>三、控制您的个人信息</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网会在法律要求或符合好味道众筹网网站的相关服务条款、软件许可使用协议约定的情况下透露您的个人信息，或者有充分理由相信必须这样做才能：</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;1.满足法律的明文规定，或者符合好味道众筹网或本站点适用的法律程序；</p>


                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;2.符合好味道众筹网网站相关服务条款、软件许可使用协议的约定；</p>


                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;3.保护好味道众筹网及其系列Web站点的权利或财产；</p>


                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;4.在紧急情况下保护好味道众筹网员工、好味道众筹网产品或服务的用户或大众的个人安全。</p>




                                </br><strong><h4>四、您个人信息的安全</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网严格保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。如果您对我们的隐私保护有任何疑问或需要进一步的解释，请发送email至 info@dreamore.com。</p>



                                </br><strong><h4>五、Cookie 的使用</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网使用Cookie来帮助您实现您的联机体验的个性化。Cookie是由网页服务器存放在您的硬盘中的文本文件。Cookie不能用来运行程序或将病毒递送到您的计算机中。指定给您的Cookie是唯一的，它只能由将 Cookie发布给您的域中的Web服务器读取。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;Cookie的主要用途之一是提供一种节约时间的实用功能。例如，如果您将好味道众筹网的网页个性化，或在好味道众筹网网站或服务上注册，Cookie会帮助好味道众筹网在您后续访问时调用您的特定信息。这样可以简化记录您的个人信息（例如帐单寄送地址、首选电子邮件地址等）的流程。当您返回到好味道众筹网时，好味道众筹网可以调出您以前所提供的信息，使您能够容易地使用您自定义的好味道众筹网功能。好味道众筹网允许那些在我们网页上发布广告的公司到用户电脑上设定或取用Cookie。其他公司将按其自订的隐私权政策而非本政策使用Cookie。好味道众筹网在进行与其产品及服务相关的工作时，会使用网络beacons进入我们的网站提取Cookie。您可以接受或拒绝Cookie。大多数 Web 浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝Cookie。如果选择拒绝Cookie，那么您可能无法完全体验所访问的好味道众筹网服务或网站的互动功能。</p>



                                </br><strong><h4>六、Web Beacon 的使用</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网网页上常会包含一些电子图象（称为“单像素” GIF文件或“网络beacon”），它们可以帮助网站计算浏览网页的用户或访问某些cookie。好味道众筹网使用网络beacons的方法包括:</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;1．在好味道众筹网网站中使用</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网通过在其网站上使用网络beacons，计算用户访问数量，并通过访问cookie辨认注册用户。好味道众筹网通过得到的cookies信息，可以在好味道众筹网网站提供个性化服务。好味道众筹网网页还可能包含第三方合作伙伴所放置的Web beacon，以便汇总统计信息以帮助确定联合推介和广告活动的有效性。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;2．在好味道众筹网网站外使用</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网代表某些合作伙伴在合作伙伴的网站上使用网络beacons进行调查研究。这些研究有助于了解和改善某些广告的效果。通过网络beacons收集到的有关好味道众筹网用户的信息将汇总报告给我们的合作伙伴。这些汇总信息中包括人口统计和使用信息。
                                </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;3．第三方广告网络的使用</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;您在好味道众筹网网页上所看到的大多数联机横幅广告是由好味道众筹网展示的。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;此外，好味道众筹网还允许其他公司，即所谓的第三方广告服务器或广告网络，在好味道众筹网网页上展示广告。其中一些广告网络会在您的计算机上放置一个永久性的Cookie。这样便可使广告网络在每次向您发送联机广告时识别出您的计算机。这样，广告网络会搜集到有关您或使用您计算机的其他人在何处看见他们的广告，以及确定哪些广告被点击。这些信息使得广告网络能够发布他们认为将是您最感兴趣的广告。好味道众筹网无权访问或控制可能由第三方广告服务器或广告网络放置的Cookie。</p>



                                </br><strong><h4>七、访问您的个人信息</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;我们为您提供了多种途径以确保您的个人信息是准确及时的。如果您在好味道众筹网网站上注册，您可以随时查阅或编辑您提交给好味道众筹网网站的个人信息，您也可以随时删除您提交给好味道众筹网网站的个人信息。</p>



                                </br><strong><h4>八、对青少年个人信息的搜集和使用</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网非常重视对青少年个人信息搜集和使用的安全性和保护。好味道众筹网建议，任何16岁以下的未成年人参加网上活动应事先取得家长或其法定监护人（以下简称"监护人"）的书面同意。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;未经监护人事先同意，好味道众筹网不会使用青少年的个人信息，也不会向任何第三方透露可识别的信息，除非是为了向青少年提供服务之必要。经监护人同意，好味道众筹网可以搜集青少年的个人信息，但监护人有权拒绝好味道众筹网进一步搜集其子女或被监护人的个人信息，有权审阅或要求好味道众筹网删除该青少年的个人信息。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网保证不会要求青少年提供额外的个人资料，以作为允许其参与网上活动的条件。</p>



                                </br><strong><h4>九、信息的披露和使用</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;我们不会向任何无关第三方提供，出售，出租，分享和交易用户的个人信息，但为方便您使用好味道众筹网服务及好味道众筹网关联公司或其他组织的服务（以下称其他服务），您同意并授权好味道众筹网将您的个人信息传递给您同时接受其他服务的好味道众筹网关联公司或其他组织，或从为您提供其他服务的好味道众筹网关联公司或其他组织获取您的个人信息。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;我们会对您及（或）您的公司的身份和交易数据进行综合统计，并以好味道众筹网判断合理的目的和用途将该综合统计向广告主披露。但是，在这些情况下，我们不会向这些机构披露任何可能用以识别用户的个人身份的资料，但从用户的用户名或其它可披露资料分析得出的资料不受此限。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;您同意我们可批露或使用您的个人信息以用于识别和（或）确认您的身份，或解决争议，或有助于确保网站安全、限制欺诈、非法或其他刑事犯罪活动，以执行我们的服务协议。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;您同意我们可批露或使用您的个人信息以保护您的生命、财产之安全或为防止严重侵害他人之合法权益或为公共利益之需要。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;您同意我们可批露或使用您的个人信息以改进我们的服务，并使我们的服务更能符合您的要求，从而使您在使用我们服务时得到更好的使用体验。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;您同意我们利用您的个人信息与您联络，并向您提供您感兴趣的信息，如：产品信息。您接受"服务协议"和本隐私声明即为明示同意收取这些资料。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;我们的网站公布了用户提交的商业机会和报价，而其他用户可以查询这些报价和商业机会。</p>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;当我们被法律强制或依照政府或依权利人因识别涉嫌侵权行为人的要求而提供您的信息时，我们将善意地披露您的资料。</p>



                                </br><strong><h4>十、信息的存储和交换</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;所收集的用户信息和资料将保存在好味道众筹网及（或）其关联公司的服务器上。您使用好味道众筹网服务时，如果这些数据不准确，您可以加以纠正。如果按照法律或从合理的商业目的来看不需要保留这些数据，我们会应您的要求将其删除。在受理各用户关于访问、纠正或删除这些信息的请求之前，我们要求用户首先要确认自己的身份以及所要处理的信息，并且我们可能会拒绝受理以下请求：不合理的重复请求或系统化请求；需要付出过大技术努力的请求；危及他人隐私的请求；极不现实的请求（例如，涉及存储在备份磁带上的信息的请求）或者用户请求访问其无需访问的信息。只要我们提供了信息的访问和纠正权限，我们就会免费提供这种服务，除非这样做需要付出的努力过大。鉴于我们对某些服务的维护方式，在您删除了信息后，系统要过一段时间才会从我们的活动服务器中删除相应的信息剩余副本，并且会在我们的备份系统中保留这些副本。</p>



                                </br><strong><h4>十一、外部链接</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;本站含有到其他网站的链接。好味道众筹网对那些网站的隐私保护措施不负任何责任。我们可能在任何需要的时候增加商业伙伴或共用品牌的网站。</p>



                                </br><strong><h4>十二、关于免责</h4></strong></br>

                                <p>&nbsp;&nbsp;&nbsp;&nbsp;就下列相关事宜的发生，好味道众筹网不承担任何法律责任：</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;1.好味道众筹网根据法律规定或相关政府的要求提供您的个人信息；</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;2.由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人信息的泄漏，或其他非因好味道众筹网原因导致的个人信息的泄漏；</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;3.任何第三方根据好味道众筹网各服务条款及声明中所列明的情况使用您的个人信息，由此所产生的纠纷；</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;4.任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭；</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;5.因不可抗力导致的任何后果；</p>

                                　　<p>&nbsp;&nbsp;&nbsp;&nbsp;6.好味道众筹网在各服务条款及声明中列明的使用方式或免责情形。</p>



                                <p>&nbsp;&nbsp;&nbsp;&nbsp;好味道众筹网会不时更新本隐私权声明。更新时，我们还会修改隐私权声明顶部的"最近更新"的日期。</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
    </div>
{% endblock %}
