{% extends 'base.jinja' %}

{% block head %}
    <meta charset="UTF-8">
    <title>明食馆</title>
    <link rel="stylesheet" href="{{ 'css/base.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/module.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/animate.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/slider.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/info.css'|static }}">
    <link rel="stylesheet" href="{{ 'css/forumDetail.css'|static }}">
    <script src="{{ 'js/lib/require.js'|static }}"></script>
    <script>
        require(['/static/js/common.js'], function (common) {
            require(['app/info', 'app/forumDetail']);
        })
    </script>
{% endblock %}

{% block content %}
    <div class="project-info">
        <div class="auto clear project-info-wrap">
            <div class="left">
                <div class="section-title">
                    <div class="clear section-title-wrap title-large">
                        <h2 class="left">{{ object.name }}</h2>
                        <span class="project-tip left bg-pink white">{{ translate_status(object.status) }}</span>
                    </div>
                </div>
                <div>
                    <dl>
                        <div class="inline-block">
                            <dt class="inline-block">发布时间:</dt>
                            <dd class="inline-block">{{ object.post_datetime.strftime('%Y-%m-%d') }}</dd>
                        </div>
                        <div class="inline-block">
                            <dt class="inline-block">项目地点:</dt>
                            <dd class="inline-block">{{ object.location.translate }}</dd>
                        </div>
                    </dl>
                    <ul class="project-info-num">
                        {% for tag in object.tags.all() %}
                            <li class="inline-block mr-12 tag">{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="section-title left">
                    <div class="user-info clear section-title-wrap title-large">
                        <h2 class="right large">{{ object.user.nickname }}</h2>

                        <p>{{ object.user.detailinfo.native.translate }}, 人<br/>{{ object.user.detailinfo.profession }}</p>
                    </div>
                </div>

                <div class="user-icon round-icon left">
                    <div class="round-icon">
                        <div class="round-icon-wrap">
                            <div class="round relative">
                                {% if project_user_image %}
                                    <div class="absolute">
                                        <img src="{{ project_user_image }}">
                                    </div>
                                {% else %}
                                    <div class="user absolute"></div>
                                {% endif %}
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap pt-40 bg-grey info">
        <div class="wrap-inner auto">
            <div class="main text bg-white">
                <div class="main-content">
                    <h1 style="font-size:30px">{{ object.name }}</h1>

                    {{ object.content }}
                </div>
            </div>
            <div class="info-action">
                <div>
                    <div class="inline-block info-like center">
                        <dl class="clear">
                            <dt class="left">关注</dt>
                            <dd class="right normal">{{ object.attention_count }}人</dd>
                        </dl>
                    </div>
                </div>
                <div class="info-social left">
                </div>
            </div>
        </div>
        <div class="info-function bg-white">
            <div class="info-function-wrap auto clear">
                <div class="info-function-fund right">
                    <div class="clear">
                        <span class="project-tip right bg-pink white">{{ translate_status(object.status) }}</span>

                        <h3 class="medium title-large">目前累计金额</h3>
                    </div>
                    <div class="info-function-fund-schedule">
                        <em class="medium">￥{{ object.now_money }}</em>

                        <div>
                            <span class="right mr-12">{{ '%.1f'|format(object.now_money/object.total_money*100|float) }}%</span>

                            <div class="project-percentage clear">
                                <div class="project-percentage">
                                    <div class="bg-yellow" style="width: {{ '%.1f'|format(object.now_money/object.total_money*100|float) }}%"></div>
                                </div>
                            </div>
                        </div>
                        <p>此项目必须在<em>{{ object.get_remaining_days }}</em>天内得到<em>¥{{ object.total_money }}</em>的支持才可成功！</p>
                    </div>
                    <div class="clear info-more">
                        <div class="left"><a href="#"><img src="{{ 'img/test1.jpg'|static }}" alt=""></a></div>
                        <div class="right"><a href="#"><img src="{{ 'img/test1.jpg'|static }}" alt=""></a></div>
                        <div class="left"><a href="#"><img src="{{ 'img/test1.jpg'|static }}" alt=""></a></div>
                    </div>
                </div>
                <div class="info-function-comment">
                    <h3 class="medium title-large">最近支持者</h3>

                    <div class="text info-function-supporter">
                        <ul class="clear center mb-20">
                            <li class="round-icon left info-function-supporter-first">
                                <div class="round-icon-wrap"><a href="##" class="medium white round">支持</a></div>
                            </li>
                            {% for support in supports %}
                            <li class="round-icon left">
                                <div class="round-icon-wrap">
                                    <div class="round relative">
                                        {% if support.image %}
                                        <div class="absolute">
                                            <img src="{{ support.image }}">
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="panel" data-animate="slide">
                            <div class="panel-header relative">
                                <div class="clear">
                                    <div class="left round-icon">
                                        <div class="round-icon-wrap">
                                            <div class="round"></div>
                                        </div>
                                    </div>
                                    <div class="left">
                                        <select class="select left">
                                            {% for package in packages %}
                                            <option value="{{ package.money|int }}" data-target="#package{{ loop.index }}">￥{{ package.money }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body clear">
                                <div class="clear relative tab-content">
                                    {% for package in packages %}
                                        {% if loop.first %}
                                        <div class="panel-text tab-pane active" id="package{{ loop.index }}">
                                        {% else %}
                                        <div class="panel-text tab-pane" id="package{{ loop.index }}">
                                        {% endif %}

                                        已有 0 位支持者 / 限额 10 位

                                        <p><strong>套餐名称：</strong>{{ package.name }}</p>
                                        {% for feedback in package.feedback.all() %}
                                            <p>{{ loop.index }}. {{ feedback.content }}</p>
                                        {% endfor %}

                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="right">
                                    <button class="mr-12 btn bg-green-light white" id="previous">去付款</button>
                                </div>
                            </div>
                        </div>
                        <div class="forum-main-comment bg-white mb-20">
                            <div class="commentarea relative">
                                <ul class="comment even">
                                    <li class="list clear">
                                        <div class="left clear">
                                            <div class="left round-icon">
                                                <div class="round-icon-wrap">
                                                    <div class="round"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right list-info title-small">
                                            <p><a class="title-small comment-reply" href="#">回复</a></p>
                                        </div>
                                        <div class="list-main">
                                            <div class="list-person"><p class="normal green mr-12 inline-block">
                                                fff团团长</p><span class="title-small">23天前</span></div>
                                            <div class="list-comment inline-block">好隐晦，真棒。</div>
                                        </div>
                                        <ul class="comment odd">
                                            <li class="list clear">
                                                <div class="left">
                                                    <div class="left round-icon">
                                                        <div class="round-icon-wrap">
                                                            <div class="round"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right list-info title-small">

                                                    <p><a class="title-small comment-reply" href="#">回复</a></p>
                                                </div>
                                                <div class="list-main">
                                                    <div class="list-person"><p
                                                            class="normal green mr-12 inline-block">fff团团长</p><span
                                                            class="title-small">23天前</span></div>
                                                    <div class="list-comment inline-block">好隐晦，真棒。</div>
                                                </div>
                                                <ul class="comment even">
                                                    <li class="list clear">
                                                        <div class="left">
                                                            <div class="left round-icon">
                                                                <div class="round-icon-wrap">
                                                                    <div class="round"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="right list-info title-small">

                                                            <p><a class="title-small comment-reply" href="#">回复</a>
                                                            </p>
                                                        </div>
                                                        <div class="list-main">
                                                            <div class="list-person"><p
                                                                    class="normal green mr-12 inline-block">
                                                                fff团团长</p><span class="title-small">23天前</span>
                                                            </div>
                                                            <div class="list-comment inline-block">好隐晦，真棒。</div>
                                                        </div>
                                                        <ul class="comment odd">
                                                            <li class="list clear">
                                                                <div class="left">
                                                                    <div class="left round-icon">
                                                                        <div class="round-icon-wrap">
                                                                            <div class="round"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="right list-info title-small">

                                                                    <p><a class="title-small comment-reply"
                                                                          href="#">回复</a></p>
                                                                </div>
                                                                <div class="list-main">
                                                                    <div class="list-person"><p
                                                                            class="normal green mr-12 inline-block">
                                                                        fff团团长</p><span
                                                                            class="title-small">23天前</span></div>
                                                                    <div class="list-comment inline-block">好隐晦，真棒。
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="list clear">
                                                        <div class="left">
                                                            <div class="left round-icon">
                                                                <div class="round-icon-wrap">
                                                                    <div class="round"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="right list-info title-small">

                                                            <p><a class="title-small comment-reply" href="#">回复</a>
                                                            </p>
                                                        </div>
                                                        <div class="list-main">
                                                            <div class="list-person"><p
                                                                    class="normal green mr-12 inline-block">
                                                                fff团团长</p><span class="title-small">23天前</span>
                                                            </div>
                                                            <div class="list-comment inline-block">好隐晦，真棒。</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list clear">
                                        <div class="left">
                                            <div class="left round-icon">
                                                <div class="round-icon-wrap">
                                                    <div class="round"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right list-info title-small">
                                            <p><a class="title-small comment-reply" href="#">回复</a></p>
                                        </div>
                                        <div class="list-main">
                                            <p class="normal">这是众筹啊众筹的问答讨论话题</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="page">
                                    <div class="page-wrap">
                                        <ul class="clear medium title-large">
                                            <li class="prev left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round" href="#">
                                                    &lt;</a></div>
                                            </li>
                                            <li class="the-first-page left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round" href="#">1...</a>
                                                </div>
                                            </li>
                                            <li class="current-page left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round"
                                                                                href="#">1</a></div>
                                            </li>
                                            <li class="left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round"
                                                                                href="#">2</a></div>
                                            </li>
                                            <li class="left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round"
                                                                                href="#">3</a></div>
                                            </li>
                                            <li class="the-last-page left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round" href="#">...10</a>
                                                </div>
                                            </li>
                                            <li class="next left round-icon">
                                                <div class="round-icon-wrap"><a class="title-large round" href="#">
                                                    &gt;</a></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hide comment-backdrop"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ super() }}
        </div>
    </div>
{% endblock %}
