{% extends 'base.jinja' %}

{% block head %}
        <meta charset="utf-8">
        <title>明食馆</title>
        <link rel="stylesheet" href="{{ 'css/base.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/module.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/animate.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/index.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/forum.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/forumDetail.css'|static }}">
        <script src="{{ 'js/lib/require.js'|static }}"></script>
        <script src="{{ 'js/template.js'|static }}"></script>
        <script>
            require(['/static/js/common.js'], function (common) {
                require(['app/forumDetail']);
            })
        </script>
{% endblock %}

{% block content %}
        <div class="wrap pt-40 bg-grey">
            <div class="wrap-inner auto">
                <div class="main clear">
                    <div class="forum-aside bg-white right">
                        <div class="text">
                            <div class="clear">
                                <div class="user-icon round-icon left mr-12">
                                    <div class="round-icon-wrap">
                                        <div class="round relative">
                                            <div class="user absolute"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info left">
                                    <div class="clear title-large">
                                        <h2 class="medium">FFF团长</h2>

                                        <p class="title-small small">浙江,绍兴,人<br>产品经理</p>
                                    </div>
                                </div>
                            </div>
                            <div class="forum-info mb-10">
                                <div class="section-title mb-26">
                                    <div class="section-title-wrap relative title-large">
                                        <h2 class="relative">Ta的新帖</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="relevant-topic mb-10">
                                <div class="section-title mb-26">
                                    <div class="section-title-wrap relative title-large">
                                        <h2 class="relative">相关话题</h2>
                                    </div>
                                </div>
                                <div class="forum-info-list mb-10">
                                    <ul>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="recom-topic mb-10">
                                <div class="section-title mb-26">
                                    <div class="section-title-wrap relative title-large">
                                        <h2 class="relative">推荐话题</h2>
                                    </div>
                                </div>
                                <div class="forum-info-list mb-10">
                                    <ul>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                        <li class="mb-10"><a href="#">这里是版块信息这里是版块信息</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-main">
                        <div class="forum-main-display bg-white mb-20">
                            <div class="forum-discuss-title mb-20"><p>问答讨论 &gt; 烧死那对异性恋</p></div>
                            <div class="main-content">
                                <h1 style="font-size:30px">伏牛堂：寻找647位“霸蛮”堂客</h1>

                                <p style="color:#d6d6d6">本帖最后由 ff团团长 于 2014-07-14 19:16 编辑 </p>

                                <h2 style="font-size:20px;margin-top:20px"> 溯源：常德米粉的来历</h2>
                                <img src="img/test1.jpg" alt="" style="display:block;margin:20px 0;width:600px">

                                <p style="margin-bottom:60px;">
                                    清朝雍正年间，相当一部分回族人因为战争缘故，从万里之外的新疆来到江南小城常德定居。当喜食面食又善于烹饪牛羊肉的回族人来到了素有江南粮仓的鱼米之乡，便发生了一连串奇妙的爆炸式化学反应：彼时的回民发现常德盛产大米，就用烹制牛肉面的手法来制作由大米制成的米粉。弹滑润韧的江南米粉遇上香醇软烂的西北牛肉，便形成了千古一绝的常德米粉。</p>
                            </div>
                            <div class="clear">
                                <ul class="left">
                                    <li class="left mr-12"><a href="#" class="tag block">233</a></li>
                                    <li class="left mr-12"><a href="#" class="tag block">23</a></li>
                                    <li class="left mr-12"><a href="#" class="tag block">23333</a></li>
                                </ul>
                                <div class="right">
                                    <button class="btn bg-green-light white mr-12" id="consent">赞同</button>
                                    <button class="btn bg-green-light white" id="reply">回复</button>
                                </div>
                            </div>
                        </div>
                        <div class="forum-main-comment bg-white mb-20">
                            <h3 class="medium title-large mb-10">最近访客</h3>
                            <ul class="clear recent-visitor mb-20">
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="left">
                                    <a href="#" class="block">
                                        <div class="round-icon">
                                            <div class="round-icon-wrap">
                                                <div class="round"></div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="commentarea relative">
{#                                <ul class="comment even">#}
{#                                    <li class="list clear">#}
{#                                        <div class="left clear">#}
{#                                            <div class="left round-icon">#}
{#                                                <div class="round-icon-wrap">#}
{#                                                    <div class="round"></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="right list-info title-small">#}
{#                                            <p><a class="title-small comment-reply" href="#">回复</a></p>#}
{#                                        </div>#}
{#                                        <div class="list-main">#}
{#                                            <div class="list-person"><p class="normal green mr-12 inline-block">#}
{#                                                fff团团长</p><span class="title-small">23天前</span></div>#}
{#                                            <div class="list-comment inline-block">好隐晦，真棒。</div>#}
{#                                        </div>#}
{#                                        <ul class="comment odd">#}
{#                                            <li class="list clear">#}
{#                                                <div class="left">#}
{#                                                    <div class="left round-icon">#}
{#                                                        <div class="round-icon-wrap">#}
{#                                                            <div class="round"></div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="right list-info title-small">#}
{##}
{#                                                    <p><a class="title-small comment-reply" href="#">回复</a></p>#}
{#                                                </div>#}
{#                                                <div class="list-main">#}
{#                                                    <div class="list-person"><p class="normal green mr-12 inline-block">#}
{#                                                        fff团团长</p><span class="title-small">23天前</span></div>#}
{#                                                    <div class="list-comment inline-block">好隐晦，真棒。</div>#}
{#                                                </div>#}
{#                                                <ul class="comment even">#}
{#                                                    <li class="list clear">#}
{#                                                        <div class="left">#}
{#                                                            <div class="left round-icon">#}
{#                                                                <div class="round-icon-wrap">#}
{#                                                                    <div class="round"></div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="right list-info title-small">#}
{##}
{#                                                            <p><a class="title-small comment-reply" href="#">回复</a></p>#}
{#                                                        </div>#}
{#                                                        <div class="list-main">#}
{#                                                            <div class="list-person"><p#}
{#                                                                    class="normal green mr-12 inline-block">fff团团长</p>#}
{#                                                                <span class="title-small">23天前</span></div>#}
{#                                                            <div class="list-comment inline-block">好隐晦，真棒。</div>#}
{#                                                        </div>#}
{#                                                        <ul class="comment odd">#}
{#                                                            <li class="list clear">#}
{#                                                                <div class="left">#}
{#                                                                    <div class="left round-icon">#}
{#                                                                        <div class="round-icon-wrap">#}
{#                                                                            <div class="round"></div>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                                <div class="right list-info title-small">#}
{##}
{#                                                                    <p><a class="title-small comment-reply"#}
{#                                                                          href="#">回复</a></p>#}
{#                                                                </div>#}
{#                                                                <div class="list-main">#}
{#                                                                    <div class="list-person"><p#}
{#                                                                            class="normal green mr-12 inline-block">#}
{#                                                                        fff团团长</p><span class="title-small">23天前</span>#}
{#                                                                    </div>#}
{#                                                                    <div class="list-comment inline-block">好隐晦，真棒。</div>#}
{#                                                                </div>#}
{#                                                            </li>#}
{#                                                        </ul>#}
{#                                                    </li>#}
{#                                                    <li class="list clear">#}
{#                                                        <div class="left">#}
{#                                                            <div class="left round-icon">#}
{#                                                                <div class="round-icon-wrap">#}
{#                                                                    <div class="round"></div>#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <div class="right list-info title-small">#}
{##}
{#                                                            <p><a class="title-small comment-reply" href="#">回复</a></p>#}
{#                                                        </div>#}
{#                                                        <div class="list-main">#}
{#                                                            <div class="list-person"><p#}
{#                                                                    class="normal green mr-12 inline-block">fff团团长</p>#}
{#                                                                <span class="title-small">23天前</span></div>#}
{#                                                            <div class="list-comment inline-block">好隐晦，真棒。</div>#}
{#                                                        </div>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </li>#}
{#                                    <li class="list clear">#}
{#                                        <div class="left">#}
{#                                            <div class="left round-icon">#}
{#                                                <div class="round-icon-wrap">#}
{#                                                    <div class="round"></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="right list-info title-small">#}
{#                                            <p><a class="title-small comment-reply" href="#">回复</a></p>#}
{#                                        </div>#}
{#                                        <div class="list-main">#}
{#                                            <p class="normal">这是众筹啊众筹的问答讨论话题</p>#}
{#                                        </div>#}
{#                                    </li>#}
{#                                </ul>#}
{#                                <div class="page">#}
{#                                    <div class="page-wrap">#}
{#                                        <ul class="clear medium title-large">#}
{#                                            <li class="prev left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round" href="#">#}
{#                                                    &lt;</a></div>#}
{#                                            </li>#}
{#                                            <li class="the-first-page left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round"#}
{#                                                                                href="#">1...</a></div>#}
{#                                            </li>#}
{#                                            <li class="current-page left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round" href="#">1</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li class="left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round" href="#">2</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li class="left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round" href="#">3</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li class="the-last-page left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round"#}
{#                                                                                href="#">...10</a></div>#}
{#                                            </li>#}
{#                                            <li class="next left round-icon">#}
{#                                                <div class="round-icon-wrap"><a class="title-large round" href="#">#}
{#                                                    &gt;</a></div>#}
{#                                            </li>#}
{#                                        </ul>#}
                                    </div>
                                </div>
                                <div class="hide comment-backdrop"></div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated() %}
                        <div class="forum-main-reply bg-white mb-20">
                            <div class="mb-20">
                                <textarea name="forum-reply" class="text"></textarea>
                            </div>
                            <div class="clear">
                                <input type="checkbox" id="autofirst" name="autofirst">
                                <label for="autofirst" class="normal">回帖后跳转到最后一页</label>
                                <button class="btn right bg-green-light white" id="submitReply">提交回复</button>
                            </div>
                        </div>
                        {% else %}
                        <div class="forum-main-reply bg-white mb-20">
                            <div class="mb-20">
                                <div class="text">
                                    <p class="inline-block mr-12">您需要登录后才能回复</p>
                                    <span class="green mr-12" data-toggle="modal" data-target="#loginModal">登录</span>
                                    <a class="green" href="#">立刻注册</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {{ super() }}
        </div>
{% endblock %}
