{% extends 'base.jinja' %}

{% block head %}
        <meta charset="UTF-8">
        <title>明食馆</title>
        <link rel="stylesheet" href="{{ 'css/base.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/module.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/animate.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/index.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/forum.css'|static }}">
        <script src="{{ 'js/lib/require.js'|static }}"></script>
        <script>
            require(['/static/js/common.js'], function (common) {
                require(['app/forum']);
            })
        </script>
{% endblock %}

{% block content %}
    <div class="wrap pt-40 bg-grey">
        <div class="wrap-inner auto">
            <div class="main clear">
                <div class="forum-aside bg-white right">
                    <div class="text">
                        <div class="forum-stat mb-10">
                            <div class="section-title mb-26">
                                <div class="section-title-wrap relative title-large">
                                    <h2 class="relative">版块统计</h2>
                                </div>
                            </div>
                            <dl>
                                <dt>今日发帖:</dt>
                                <dd>23</dd>
                                <dt>历史最高:</dt>
                                <dd>155</dd>
                                <dt>发帖总计:</dt>
                                <dd>210</dd>
                                <dt>在线会员:</dt>
                                <dd>12</dd>
                                <dt>认证会员:</dt>
                                <dd>302</dd>
                                <dt>注册会员:</dt>
                                <dd>303</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="forum-main bg-white text">
                    <div class="forum-title clear">
                        <ul class="normal left center">
                            <li class="left active"><a class="block" href="#">全部</a></li>
                        </ul>
                        <button type="button" class="btn bg-green-light right white" class="publish" data-toggle="modal" data-target="#ask">提问</button>
                    </div>
                    <div class="forum-list">
                        <ul>
                            {% for question in questions %}
                            <li class="list clear">
                                <div class="left">
                                    <div class="left round-icon">
                                        <div class="round-icon-wrap">
                                            <div class="round"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="right list-info title-small">
                                    <p>{{ question.user.nickname }}<br>{{ question.post_datetime.strftime('%Y-%m-%d') }}</p>
                                </div>
                                <div class="list-main">
                                    <p class="normal"><a href="{{ url('question.detail', pk=question.pk) }}">{{ question.title }}</a></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ paginator() }}
                </div>
            </div>
        </div>
    {{ super() }}
        <div class="modal" id="ask">
            <div class="modal-dialog">
                <div class="modal-header center clear bg-green-light relative">
                    <div class="close absolute" data-dismiss="modal">×</div>
                    <h4 class="modal-title white">提问</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-wrap auto">
                        <form action="{{ url('question.list.create') }}" method="post" id="askquestion">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <div class="clear mb-20">
                                <label class="green mr-12 left" for="question">描述:</label>
                                <input class="input left" type="text" id="question" name="title">
                            </div>
                            <div class="clear mb-20">
                                <label class="green mr-12 left" for="content">内容:</label>
                                <textarea name="content" id="content" class="text bg-grey"></textarea>
                            </div>
                            <div class="clear"><button type="submit" form="askquestion" class="white right btn normal">提&nbsp;&nbsp;交</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
