{% extends 'base.jinja' %}

{% block head %}
        <meta charset="utf-8">
        <title>明食馆</title>
        <link rel="stylesheet" href="{{ 'css/base.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/module.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/animate.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/index.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/forum.css'|static }}">
        <link rel="stylesheet" href="{{ 'css/forumDetail.css'|static }}">
        <script src="{{ 'js/lib/require.js'|static }}"></script>
        <script src="{{ 'js/template.js'|static }}"></script>
        <script>
            require(['/static/js/common.js'], function (common) {
                require(['app/forumDetail']);
            })
        </script>
{% endblock %}

{% block content %}
        <div class="wrap pt-40 bg-grey">
            <div class="wrap-inner auto">
                <div class="main clear">
                    <div class="forum-aside bg-white right">
                        <div class="text">
                            <div class="clear">
                                <div class="user-icon round-icon left mr-12">
                                    <div class="round-icon-wrap">
                                        <div class="round relative">
                                            <div class="user absolute"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info left">
                                    <div class="clear title-large">
                                        <h2 class="medium">{{ object.user.nickname }}</h2>

                                        <p class="title-small small">{{ object.user.detailinfo.native.translate }}<br>{{ object.user.detailinfo.profession }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-main">
                        <div class="forum-main-display bg-white mb-20">
                            <div class="forum-discuss-title mb-20"><p>问答讨论 &gt; {{ question.title }}</p></div>
                            <div class="main-content">
                                <h1 style="font-size:30px">{{ question.title }}</h1>

                                <p style="color:#d6d6d6">本帖最后由 {{ question.user.nickname }} 于 {{ question.modify_datetime.strftime('%Y-%m-%d') }} 编辑 </p>

                                {{ question.content }}
                            </div>
                        </div>
                        <div class="forum-main-comment bg-white mb-20">
                            <div class="commentarea relative">
                                <ul class="comment even">
                                    {% for answer in answers %}
                                    <li class="list clear">
                                        <div class="left">
                                            <div class="left round-icon">
                                                <div class="round-icon-wrap">
                                                    <div class="round"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="list-main">
                                            <p class="normal">{{ answer.content }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="hide comment-backdrop"></div>
                            </div>
                        </div>
                        {% if request.user.is_authenticated() %}
                        <div class="forum-main-reply bg-white mb-20">
                            <form action="{{ url('question.detail.create', pk=object.pk) }}" method="post">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="mb-20">
                                    <textarea name="content" class="text"></textarea>
                                </div>
                                <div class="clear">
                                    <button class="btn right bg-green-light white" id="submitReply">提交回复</button>
                                </div>
                            </form>
                        </div>
                        {% else %}
                        <div class="forum-main-reply bg-white mb-20">
                            <div class="mb-20">
                                <div class="text">
                                    <p class="inline-block mr-12">您需要登录后才能回复</p>
                                    <span class="green mr-12" data-toggle="modal" data-target="#loginModal">登录</span>
                                    <a class="green" href="#">立刻注册</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {{ super() }}
        </div>
{% endblock %}
